<div class="title">{{ (course$ | async)?.title }}</div>
<div class="course-info">
  <div class="course-info__description">
    {{ (course$ | async)?.description }}
  </div>
  <div class="course-info__info">
    <div><b>ID: </b><span class="course-info__info-id">{{ (course$ | async)?.id }}</span></div>
    <div><b>Duration: </b><span class="course-info__info-duration">{{ (course$ | async)!.duration | duration }}</span></div>
    <div><b>Created: </b><span class="course-info__info-date">{{ getDate((course$ | async)!.creationDate) | customDate }}</span></div>
    <div><b>Authors: </b><span class="course-info__info-authors">{{ getAuthorNames() | async }}</span></div>
  </div>
</div>
<div class="navigation-block">
  <app-button [buttonText]="backButtonText" (click)="clickBackButton()"></app-button>
</div>
