<div *ngIf="selectedCourse; else show_list">
    <app-course-info
    [title]="selectedCourse.title"
    [authors]="selectedCourse.authors"
    [creationDate]="selectedCourse.creationDate"
    [description]="selectedCourse.description"
    [duration]="selectedCourse.duration"
    [id]="selectedCourse.id"
    [backButtonText]="backButtonText"
    (goBack)="onBackFromInfo()"
    >
    </app-course-info>
</div>
<ng-template #show_list>
    <app-courses-list 
    [courses]="courses" 
    [editable]="editable" 
    (showCourse)="onShowCourse($event)"
    (deleteCourse)="onDeleteCourse($event)"
    (editCourse)="onEditCourse($event)"
    ></app-courses-list>
</ng-template>